Package: tor-dbg
Source: tor
Version: 0.2.9.15-1
Architecture: amd64
Maintainer: Peter Palfrader <weasel@debian.org>
Installed-Size: 3361
Depends: tor (= 0.2.9.15-1)
Suggests: gdb
Section: debug
Priority: extra
Homepage: https://www.torproject.org/
Description: debugging symbols for Tor
 This package provides the debugging symbols for Tor, The Onion Router.
 Those symbols allow your debugger to assign names to your backtraces, which
 makes it somewhat easier to interpret core dumps.
Build-Ids: 3b68a770ada7c59dd9b22cf1dd18b576e4b9caf1 ad3d14cd6183d6d332690e628a265b5f5f8935e1 c36faa7739bb5dd66cecc61b71dd29c49411a9a9
