Package: tor-dbg
Source: tor
Version: 0.2.9.15-1
Architecture: amd64
Maintainer: Peter Palfrader <weasel@debian.org>
Installed-Size: 3360
Depends: tor (= 0.2.9.15-1)
Suggests: gdb
Section: debug
Priority: extra
Homepage: https://www.torproject.org/
Description: debugging symbols for Tor
 This package provides the debugging symbols for Tor, The Onion Router.
 Those symbols allow your debugger to assign names to your backtraces, which
 makes it somewhat easier to interpret core dumps.
Build-Ids: 553d4e33d072e3c871855d32fff8ae621442e004 8a67221e8ad549938e76a084895b3159b62aada6 e9c4e30210faf4f24e8393cf28aa29ae4695e3e6
